{% load bootstrap %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.1.0/css/all.css>
    <link rel="stylesheet" href="/static/nowy.css">

</head>
<body>


{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm4 col-xs-12"></div>
        <div class="col-md-4 col-sm4 col-xs-12">
            <h1>Zarejestruj się</h1>
            <form role="form" method="post">
                {% csrf_token %}
                {{form|bootstrap}}
                <div class="checkbox"></div>
                <div class="form-group">
                    <p class="text-right"><button type="submit" class=" btn btn-primary btn-lg text-right">Rejestruj <i class="fas fa-user-plus"></i></button></p>
            </div>
             </form>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <p class="text-center">Posiadasz już konto?</p>
                <a class="ml-4" href="{% url 'login' %}">
                    <p class="text-center">Zaloguj się</p></a>
            </small>
        </div>
    </div>




{% endblock content %}










</body>
</html>