<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOP 10</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.1.0/css/all.css>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'Moja_biblioteka' %}"><i class="fas fa-book" width="40" height="40"
                                                                class="d-inline-block mr-1 align-bottom" alt=""> Moja Biblioteka </i></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
  </form>
</nav>

<header>
    <main>
        <section class="top-ten">
            <div class="container">
                <header>
                    <h1>TOP 10 książek</h1>
					<p>Oto zestawienie najepszych 10 ksiażek czytanych przez czytelników w 2019</p>

				</header>

				<div class="row">

					<div class="col-sm-6 col-md-5 offset-md-1">

						<figure>
							<a href="#"><img src="/media/chrom.jpg" width="400" height="500" alt="Wypalić Chrom"></a>
							<figcaption>Wypalić Chrom</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-5">

						<figure>
							<a href="#"><img src="/media/cienie.jpg" width="400" height="500" alt="Cienie"></a>
							<figcaption>Cienie</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-4">

						<figure>
							<a href="#"><img src="/media/dom.jpg" width="400" height="500" alt="Nawiedzony dom na wzgórzu"></a>
							<figcaption>Nawiedzony dom na wzgórzu</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-4">

						<figure>
							<a href="#"><img src="/media/krol.jpg" width="400" height="500" alt="Ostatni król teksasu"></a>
							<figcaption>Ostatni król teksasu</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-4">

						<figure>
							<a href="#"><img src="/media/kosmos.jpg" width="400" height="500" alt="Zapytaj austronatę"></a>
							<figcaption>Zapytaj austronatę</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-4">

						<figure>
							<a href="#"><img src="/media/europa.jpg" width="400" height="500" alt="Europa jesienią"></a>
							<figcaption>Europa jesienią</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-4">

						<figure>
							<a href="#"><img src="/media/tajemnica.jpg" width="400" height="500" alt="Tajemnica godziny trzynastej"></a>
							<figcaption>Tajemnica godziny trzynastej</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-4">

						<figure>
							<a href="#"><img src="/media/oko.jpg" width="400" height="500" alt="Kocie oko"></a>
							<figcaption>Kocie okor</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-3">

						<figure>
							<a href="#"><img src="/media/lzy.jpg" width="400" height="500" alt="Łzy Mai"></a>
							<figcaption>Łzy Mai</figcaption>
						</figure>

					</div>

					<div class="col-sm-6 col-md-3">

						<figure>
							<a href="#"><img src="/media/omen.jpg" width="400" height="500" alt="Omen"></a>
							<figcaption>Omen</figcaption>
						</figure>

					</div>

				</div>

			</div>

		</section>

	</main>
</header>

</body>
</html>